### WordPress  ###
**/*.DS_Store
db.php
debug.log
/upgrade/
/upgrade-temp-backup/
/uploads/
/plugins/.DS_Store
/plugins/webcr/.DS_Store
/plugins/debug-bar/
/plugins/query-monitor/
/plugins/svg-support/
plugins/contact-form-7/
plugins/developry-google-fonts/
themes/twentytwentyfive/
themes/twentytwentyfour/
themes/twentytwentythree/
themes/twentytwentytwo/
themes/developry-lite/
debug.log
/plugins/.DS_Store
/plugins/webcr/.DS_Store
/plugins/webcr/admin/.DS_Store
/plugins/debug-bar-actions-and-filters-addon

