### WordPress  ###
index.php
.DS_Store
db.php
debug.log
/upgrade/
/upgrade-temp-backup/
/uploads/
/themes/
/plugins/.DS_Store
/plugins/webcr/.DS_Store
/plugins/debug-bar/
/plugins/query-monitor/
/plugins/svg-support/
